{% set this_page = "index.html" if this_page is not defined else this_page %}
{% extends "base.html.jinja" %}

{% block body %}
<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{ static_base }}/static/favicon_io_{{ _site_name[0] }}/android-chrome-512x512.png" alt="" width="72" height="72">
  <h2>Welcome to Carrington!</h2>
  <p class="lead">Want to see all the logged events? <a href="{{base_path}}/events/list">Click here.</a></p>
  <p class="lead">More info will go here once I get around to it.</p>
</div>
{% endblock %}
